.App {
  text-align: center;
  background: grey;
  justify-content: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  background: grey;

/* write your parent styles in here for your App.js */
font-family: 'Space Mono', mono space;
font-size: 60px;
color: green;
border: 5px;

}
h1:hover {
color: blueviolet;
transition: 1s;
}
